/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [jobdocumentation].[id]
      ,[type]
	  ,[type].[name]
      ,[headline]
      ,[description]
      ,[date]
      ,[timespent]
      ,[supporter].[name]
	  ,[supporter].[initials]
  FROM [Team7].[dbo].[jobdocumentation] JOIN [Team7].[dbo].[supporter] on [jobdocumentation].[supporter] = [supporter].[id]
  JOIN  [Team7].[dbo].[type] ON [type].[id] = [jobdocumentation].[type];

  SELECT [jobdocumentation].[id]
      ,[type]
	  ,[type].[name]
      ,[headline]
      ,[description]
      ,[date]
      ,[timespent]
      ,[supporter].[name]
	  ,[supporter].[initials]
  FROM [Team7].[dbo].[jobdocumentation] JOIN [Team7].[dbo].[supporter] on [jobdocumentation].[supporter] = [supporter].[id]
  JOIN  [Team7].[dbo].[type] ON [type].[id] = [jobdocumentation].[type]
  WHERE [supporter].[name] LIKE '%%' ;

  SELECT [jobdocumentation].[id]
      ,[type]
	  ,[type].[name]
      ,[headline]
      ,[description]
      ,[date]
      ,[timespent]
      ,[supporter].[name]
	  ,[supporter].[initials]
  FROM [Team7].[dbo].[jobdocumentation] JOIN [Team7].[dbo].[supporter] on [jobdocumentation].[supporter] = [supporter].[id]
  JOIN  [Team7].[dbo].[type] ON [type].[id] = [jobdocumentation].[type]
  WHERE [date] = '2015-03-12' ;